[Unit]
Description=Tinc daemon for net %i
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/tincd -n %i --logfile -U nobody

[Install]
WantedBy=multi-user.target
