[Unit]
Description=Tinc daemon for net %i
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/tincd -n %i {{TINCD_FLAGS}}

[Install]
WantedBy=multi-user.target
